@import url("https://fonts.cdnfonts.com/css/pp-neue-montreal");
@import url("https://fonts.cdnfonts.com/css/overused-grotesk");
@import url("https://fonts.cdnfonts.com/css/roboto-condensed-3");
@font-face {
  font-family: "nhg";
  src: url("../../../public/Fonts/neue_haas_grotesk/NeueHaasDisplayLight.ttf");
  font-style: normal;
}
:root {
  --tone-0: #ffffff;
  --tone-100: #000000;
  --tone-200: #222222;
  --tone-300: #5b5c57;
  --tone-400: #e3e4d8;
  --tone-500: #b6fe4b;
  --tone-600: #ff0000;
  --main-font: "PP Neue Montreal", sans-serif;
  --secondary-font: "Overused Grotesk", sans-serif;
  --auxilliary-font: "Roboto Condensed", sans-serif;
}

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  margin: 0;
  background: var(--tone-0);
  padding: 0;
}

body::-webkit-scrollbar {
  display: none;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--secondary-font);
}

.main_container {
  width: 100%;
  min-height: 100vh;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 144px;
}

.navbar {
  position: fixed;
  top: 2.5rem;
  left: 50%;
  transform: translateX(-50%);
  width: 80%;
  z-index: 1;
  height: 64px;
  padding: 0 24px;
  box-sizing: border-box;
  background: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(60px) saturate(140%);
  -webkit-backdrop-filter: blur(12px) saturate(140%);
  border-radius: 16px;
  border: none;
  box-shadow: 0 8px 32px rgba(0, 0, 0, 0.25), inset 0 1px 0 rgba(255, 255, 255, 0.25);
  color: #fff;
}
.navbar .navContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}
.navbar .navContainer .logo {
  display: flex;
  height: 100;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}
.navbar .navContainer .logo .logo_svg {
  width: 2rem;
  height: 2rem;
}
.navbar .navContainer .logo h4 {
  font-size: 1.2rem;
  font-family: var(--main-font);
  color: rgb(198, 198, 198);
  font-weight: 800;
}
.navbar .navContainer .nav_time p {
  font-size: 1rem;
  letter-spacing: 1px;
  text-transform: uppercase;
  text-decoration: none;
  color: white;
  font-family: var(--main-font);
  z-index: 5;
  font-weight: 400;
}
.navbar .navContainer .nav_links_container {
  height: 100%;
  display: flex;
}
.navbar .navContainer .nav_links_container div {
  display: flex;
  align-items: center;
  padding: 0 1rem;
  cursor: pointer;
  justify-content: space-between;
}
.navbar .navContainer .nav_links_container div .nav_links {
  font-size: 1rem;
  letter-spacing: 1px;
  text-transform: uppercase;
  text-decoration: none;
  color: white;
  font-family: var(--main-font);
  z-index: 5;
  font-weight: 400;
}

body h1 {
  text-transform: uppercase;
  font-size: 8rem;
  line-height: 1;
  letter-spacing: -0.5rem;
}

body p {
  text-transform: uppercase;
  text-align: center;
  font-size: 0.8rem;
  font-weight: 500;
}

a {
  text-decoration: none;
  text-transform: uppercase;
  color: var(--tone-400);
  font-size: 7.5rem;
  font-weight: 600;
  line-height: 0.9;
  display: block;
  font-family: var(--auxilliary-font);
}

.preloader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100svh;
  background-color: var(--tone-100);
  clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%);
  will-change: clip-path;
  overflow: hidden;
  z-index: 2;
}

.progress-bar {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 7px;
  background-color: var(--tone-0);
  transform: scaleX(0);
  transform-origin: left;
  will-change: transform;
}

.preloader-images {
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 25rem;
  height: 30rem;
  clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%);
  will-change: clip-path;
  overflow: hidden;
}
.preloader-images .img {
  position: absolute;
  width: 100%;
  height: 100%;
  clip-path: polygon(0% 100%, 100% 100%, 100% 100%, 0% 100%);
  will-change: clip-path;
  overflow: hidden;
}
.preloader-images img {
  position: relative;
  transform: scale(2);
  will-change: transform;
}

img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.preloader-copy {
  position: absolute;
  bottom: 5rem;
  left: 50%;
  transform: translateX(-50%);
  width: 30%;
  color: var(--tone-400);
  opacity: 0;
}

.preloader-header {
  position: fixed;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: translateY(75svh);
  transform-origin: top;
  will-change: transform;
  z-index: 2;
  opacity: 0;
}

.hero {
  position: relative;
  width: 100%;
  height: 100svh;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  text-align: center;
  overflow: hidden;
}

.divider {
  position: relative;
  width: 100%;
  height: 1.5px;
  transform: scaleX(0);
  background-color: rgba(0, 0, 0, 0.2);
  will-change: transform;
}

.preloader-header a .char,
.preloader-copy p .line,
.header-row h1 .line {
  position: relative;
  display: inline-block;
  transform: translateY(0);
  will-change: transform;
}

section {
  min-height: 100vh;
  width: 100%;
}
/*# sourceMappingURL=index.css.map */
